@model Notic_board_2.Models.Klass

@{
    ViewBag.Title = "klassesEdit";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}



@using (Html.BeginForm())
{
    <h2 class="form-signin-heading text-center">@ViewBag.formTitle</h2>

    <h2>Edit class</h2>




    <div class="form-horizontal">
        <h4>Class</h4>
        <hr />


        <div class="form-group">

            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div id="checking">Checking...</div>
            <div class="col-md-10">

                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Degree, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Degree, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>

}
    <div>
        @Html.ActionLink("Back to classes", "HomePage", "Admin", new { @class = "btn btn-primary" },null)
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <hr />
