@model IEnumerable<Notic_board_2.Models.user_table>

@{
    ViewBag.Title = "TeacherPanel";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
   
   

}
@section SearchBar{

    <form class="navbar-form navbar-left" role="search" action="#" method="post">
        <div class="form-group">
            <input class="form-control" id="KlassSearch" name="searchTerm" placeholder="Search" type="text">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>


}


<h2>TeacherPanel</h2>

@Html.ActionLink("Add New Teacher", "AddNewTeacher", "Admin", new { @class = "btn btn-primary Create_button" })

<div class="well">
    <table class="table">
        <tr>
            <th>
                <text>ImageUrl</text>

          
            </th>

            <th>
                <text>FirstName</text>

          
            </th>

            <th>
                <text>LastName</text>

          
            </th>

            <th>
                <text>UserName</text>

          
            </th>

            <th>
                <text>Password</text>

          
            </th>
            <th></th>
          
        </tr>
        
      
        @foreach (var item in Model)
        {

            <tr>

                <td>
                    <img class="media-object" src="~/images/dummy.jpg" width="64" height="64" alt="pic">
                </td>
                <td>
                    @item.First_name

                </td>
                <td>
                    @item.Last_name

                </td>
                <td>
                    @item.User_name

                </td>
                <td>
                    @item.Password

                </td>

                <td>
                    @Html.ActionLink("Edit", "TeacherEdit", "Admin", new { @class = "btn btn-primary", name = "Id" })
                  
                    @Html.ActionLink("Delete", "TeacherDelete", "Admin", new { @class = "btn btn-primary" })


                </td>
            </tr>
        }

    </table>
</div>
